//- base.pug


doctype html
html
  head
    title Parth Dance Academy
    block style
    block scripts
  body
    //- nav#navbar.top.firstclass.secondclass
    nav#navbar
      ul
          div#logo
              img(src="../static/img/logo.png", alt="", srcset="")
              |  PDA

          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/contact") Contact Us]
    block content
    footer#footer
      | Copyright ©2020-21 Parthdanceacademy.com | All rights reserved 

      